{% extends  'common/home.html'%}
{% load static %}


<!DOCTYPE html>
<html lang="en">


{% block content %}
<body>
    <!-- product detail section start  -->
    <section class="product-main">
        <div class="container">
            <div class="row product-detail">
                <div class="col-md-6">
                    <div class="product-gallery">
{#                        <div class="product-gallery__thumb swiper productGallerySwiperThumb">#}
{#                            <div class="swiper-wrapper">#}
{#                                <div class="swiper-slide">#}
{##}
{#                                    <div class="gallery-item">#}
{#                                        <img src="{{ product.image.url }}" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="swiper-slide">#}
{#                                    <div class="gallery-item">#}
{#                                        <img src="assets/images/products/prod-02.png" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="swiper-slide">#}
{#                                    <div class="gallery-item">#}
{#                                        <img src="assets/images/products/prod-03.png" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="swiper-slide">#}
{#                                    <div class="gallery-item">#}
{#                                        <img src="assets/images/products/prod-04.png" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="product-gallery__main swiper productGallerySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gallery-item">
                                        <img src="{{ product.image.url }}" alt="product iamge" />
                                    </div>
                                </div>
{#                                <div class="swiper-slide">#}
{#                                    <div class="gallery-item">#}
{#                                        <img src="assets/images/products/prod-02.png" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="swiper-slide">#}
{#                                    <div class="gallery-item">#}
{#                                        <img src="assets/images/products/prod-03.png" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="swiper-slide">#}
{#                                    <div class="gallery-item">#}
{#                                        <img src="assets/images/products/prod-04.png" alt="product iamge" />#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="product-detail__wrapper">
                        <h2 class="product-detail__title">{{ product.product_name }}</h2>
                        <div class="product-detail__meta">
{#                            <div class="rating">#}
{#                                <ul>#}
{#                                    <li><i class="fa-solid fa-star"></i></li>#}
{#                                    <li><i class="fa-solid fa-star"></i></li>#}
{#                                    <li><i class="fa-solid fa-star"></i></li>#}
{#                                    <li><i class="fa-regular fa-star"></i></li>#}
{#                                    <li><i class="fa-regular fa-star"></i></li>#}
{#                                </ul>#}
{#                                <div class="total__rating">#}
{#                                    <a href="#">(3,822 ratings)</a>#}
{#                                </div>#}
{#                            </div>#}
                            <ul class="right-meta">
{#                                <li>#}
{#                                    <a href="#" class="share__btn">#}
{#                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"#}
{#                                            xmlns="http://www.w3.org/2000/svg">#}
{#                                            <path#}
{#                                                d="M2.6665 8V13.3333C2.6665 13.687 2.80698 14.0261 3.05703 14.2761C3.30708 14.5262 3.64622 14.6667 3.99984 14.6667H11.9998C12.3535 14.6667 12.6926 14.5262 12.9426 14.2761C13.1927 14.0261 13.3332 13.687 13.3332 13.3333V8"#}
{#                                                stroke="#002642" stroke-linecap="round" stroke-linejoin="round" />#}
{#                                            <path d="M10.6668 3.99998L8.00016 1.33331L5.3335 3.99998" stroke="#002642"#}
{#                                                stroke-linecap="round" stroke-linejoin="round" />#}
{#                                            <path d="M8 1.33331V9.99998" stroke="#002642" stroke-linecap="round"#}
{#                                                stroke-linejoin="round" />#}
{#                                        </svg>#}
{#                                        Share#}
{#                                    </a>#}
{#                                </li>#}
                                <li>
                                    <a href="#" class="wishlist__btn">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.8936 3.07333C13.5531 2.73267 13.1488 2.46243 12.7038 2.27805C12.2588 2.09368 11.7819 1.99878 11.3002 1.99878C10.8186 1.99878 10.3416 2.09368 9.89667 2.27805C9.4517 2.46243 9.04741 2.73267 8.70691 3.07333L8.00024 3.78L7.29357 3.07333C6.60578 2.38553 5.67293 1.99914 4.70024 1.99914C3.72755 1.99914 2.7947 2.38553 2.10691 3.07333C1.41911 3.76112 1.03271 4.69397 1.03271 5.66666C1.03271 6.63935 1.41911 7.5722 2.10691 8.26L2.81358 8.96666L8.00024 14.1533L13.1869 8.96666L13.8936 8.26C14.2342 7.91949 14.5045 7.51521 14.6889 7.07023C14.8732 6.62526 14.9681 6.14832 14.9681 5.66666C14.9681 5.185 14.8732 4.70807 14.6889 4.26309C14.5045 3.81812 14.2342 3.41383 13.8936 3.07333V3.07333Z"
                                                stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        Add to Wishlist
                                    </a>
                                </li>
                                {% if product.in_stock %}
                                    <li>
                                        <div class="stock__item">In-stock</div>
                                     </li>
                                {% else %}
                                    <li>
                                        <div class="stock__item">Out of stock</div>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>

                        <h3 class="product-detail__price">{{ product.price }}lv.</h3>

                        <p class="product-detail__short_desc">
                            {{ product.description }}
                        </p>

{#                        <div class="product-detail__attr">#}
{#                            <div class="product__attr">#}
{#                                <span class="product-detail--stroke">Filter By Color</span>#}
{#                                <ul class="product__attr--color">#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterByColor" id="colorGreen01" value="green" />#}
{#                                        <label for="colorGreen01" data-bg="#12B76A"></label>#}
{#                                    </li>#}
{##}
{#                                    <li>#}
{#                                        <input type="radio" name="filterByColor" id="colorYellow01" value="yellow" />#}
{#                                        <label for="colorYellow01" data-bg="#F1C584"></label>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}

{#                        <div class="product-detail__attr">#}
{#                            <div class="product__attr">#}
{#                                <span class="product-detail--stroke">Size</span>#}
{#                                <ul class="product__attr--size">#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterBySize" id="sizeXXL-01" value="xxl" />#}
{#                                        <label for="sizeXXL-01">XXL</label>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterBySize" id="sizeXL-01" value="xl" />#}
{#                                        <label for="sizeXL-01">XL</label>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterBySize" id="sizeL-01" value="l" />#}
{#                                        <label for="sizeL-01">L</label>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterBySize" id="sizeM-01" value="m" />#}
{#                                        <label for="sizeM-01">M</label>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterBySize" id="sizeS-01" value="s" />#}
{#                                        <label for="sizeS-01">S</label>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <input type="radio" name="filterBySize" id="sizeXS-01" value="xs" />#}
{#                                        <label for="sizeXS-01">XS</label>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="product-detail__qty">
                            <span class="product-detail--stroke">quantity</span>
                            <div class="quantity quantity--outline">
                                <button type="button" class="decressQnt">
                                    <span class="bar"></span>
                                </button>
                                <input class="qnttinput" type="number" disabled value="1" min="01" max="100" />
                                <button type="button" class="incressQnt">
                                    <span class="bar"></span>
                                </button>
                            </div>
                        </div>

                        <div class="product-detail__action">
                            <div class="item">
                                <a href="#" class="btn btn-primary btn-outline">Add to Cart</a>
                            </div>
                            <div class="item">
                                <a href="#" class="btn btn-primary btn-filled">Buy Now</a>
                            </div>
                        </div>
                        <div class="product-detail__accordion accordion" id="productDetailAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="accordionOne">
                                    <button class="accordion-button product-detail--stroke collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#accordion_one"
                                        aria-controls="accordion_one">
                                        Shipping & Returns
                                    </button>
                                </h2>
                                <div id="accordion_one" class="accordion-collapse collapse"
                                    aria-labelledby="accordionOne" data-bs-parent="#productDetailAccordion">
                                    <div class="accordion-body">
                                        <p>Every product will be shipped in 1 to 3 days in Bulgaria.</p>
                                        <p>You can return the product for free if you didn't like in 2 days.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="accordionThree">
                                    <button class="accordion-button product-detail--stroke collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#accordion_three"
                                        aria-controls="accordion_three">
                                        Specifications
                                    </button>
                                </h2>
                                <div id="accordion_three" class="accordion-collapse collapse"
                                    aria-labelledby="accordionThree" data-bs-parent="#productDetailAccordion">
                                    <div class="accordion-body">
                                        <p>Every 3D printed product from us will be with the best quality PLA or ABS filament.</p>
                                        <p>Every product will be printed with 0.20 layer height and 100% infil for maximum durability.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row product-info">
                <div class="col-12">
                    <div class="tabs__wrapper tabs__wrapper--v3">
                        <div class="tabs__filter">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home-tab-pane" type="button" role="tab"
                                        aria-controls="home-tab-pane" aria-selected="true">
                                        Product Details
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                            <div class="content__body">
                                <p>
                                    {{ product.description }}

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product detail section end -->


















    <!-- Product Preview Modal End -->

{#    <!-- Preloader Start -->#}
{#    <div id="preloader">#}
{#        <div id="status"><img src="{% static 'images/favicon.png'%}" alt="logo" /></div>#}
{#    </div>#}
{#    <!-- Preloader End -->#}

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">Top</button>
    <!-- Scroll-top-end-->

</body>
{% endblock %}

</html>